<div class="wrapper-page-left">
    <img src="/assets/images/shapes/ok_check.png" alt="">
    <br>
    <br>
    <h2 class="title">
        ¡Perfecto! <br>
        Hemos recibido tu solicitud, <br>
        En 48 horas enviaremos a tu correo<br> electrónico el certificado de Paz y salvo.
    </h2>

    <p style="margin-top: 20px;">
        Recuerda mantener tu correo actualizado en nuestra base de datos para que no tengas ningún inconveniente con tu
        certificado.
    </p>
    <br>
    <br>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/portal/home">
        Terminar con éxito tu solicitud
    </button>
</div>

<img src="/assets/images/shapes/success_ado.png" class="peca_error_or_ok">