.loading-ado {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
        text-align: center;
    }
}
