<div class="wrapper-page-left">
   
    <h2 class="title">
        ¡Perfecto! <br>
        Has actualizado tus datos de una manera satisfactoria.
        
    </h2>

    <h2 class="title">
        Recuerda siempre mantener tus datos actualizados para poder recibir sin problemas tus certificados y otras solicitudes.
    </h2>
  
    <br>
    <br>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/portal/home">
        Terminar actualización de datos
    </button>
</div>

<img src="/assets/images/shapes/success_ado.png" class="peca_error_or_ok">
