
<div class="wrapper-page-left">
    <img src="/assets/images/shapes/ok_check.png" alt="">
    <br>
    <br>
    <h2 class="title">
        ¡Comprobamos que eres tú! <br>
        Hemos enviado tu usuario y <br>contraseña temporal a tu correo <br>electrónico.
    </h2>

    <p style="margin-top: 20px;">
        Revisa la bandeja de entrada de tu correo<br> electrónico y podrás acceder sin problemas a tu <br>Portal Cliente Finexus.
    </p>
    <br>
    <br>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/auth/login">
        ¡Excelente! Quiero volver a inicio
    </button>
</div>

<img src="/assets/images/shapes/success_ado.png" class="peca_error_or_ok">