<div class="wrapper-page-left" *ngIf="step == 1">
    <h2 class="title">
        Recupera tu contraseña <br>
        Sin complicaciones
    </h2>

    <p>
        En el siguiente campo introduce tu usuario para <br> poder validar tu identidad.
    </p>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Usuario" name="user" [(ngModel)]="username" />
        </div>

        <button class="finexus-btn btn-simulate-credit principal-buttons" [disabled]="!username" (click)="sendUser()">
            Siguiente paso
        </button>
    </form>
</div>

<div class="wrapper-page-left" *ngIf="step == 2">
    <h2 class="title">
        ¿Cómo deseas que te enviemos el código para restablecer la contraseña?
    </h2>

    <br>

    <form>
        <div *ngFor="let item of recoveryMethods" class="recovery-methods">
            <input type="radio" [(ngModel)]="recoveryMethod" [value]="item.type" name="item.type">
            <div>
                <p *ngIf="item.type=='email'">Enviar código por correo</p>
                <p *ngIf="item.type=='celular'">Enviar código por SMS al celular</p>
                <p>
                    <b>{{item.value}}</b>
                </p>
            </div>
        </div>
        <button class="finexus-btn btn-simulate-credit principal-buttons" [disabled]="!recoveryMethod"
            (click)="sendTypeMethodRecovery()">
            Siguiente paso
        </button>
    </form>
</div>



<div class="wrapper-page-left" *ngIf="step == 3">
    <h2 class="title">
        Hemos enviado un código a tu correo electrónico que durará 24 horas activo.
    </h2>
    <p class="subtitle">
        Asegúrate de acceder y validar tu contraseña lo más pronto posible.
    </p>
    <br>
    <p>
        Introduce el código que recibiste
    </p>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" name="code" [(ngModel)]="code" />
        </div>
        <button class="finexus-btn btn-simulate-credit principal-buttons" [disabled]="!code"
            (click)="sendCodeRecovery()">
            Validar código de recuperación
        </button>
    </form>
</div>


<div class="wrapper-page-left" *ngIf="step == 4">
    <h2 class="title">
        ¡Excelente, si eres tú!
        En Finexus nos preocupamos por tu seguridad, por eso es necesario que cambies tu contraseña.
    </h2>
    <form>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Nueva contraseña" name="password"
                [(ngModel)]="password" />
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirma tu contraseña" name="password_validate"
                [(ngModel)]="password_validate" />
        </div>
        <p>
            Tu nueva contraseña debe tener mínimo 6 caracteres, puedes combinar números y letras.
        </p>

        <button class="finexus-btn btn-simulate-credit principal-buttons" [disabled]="validatePassword"
            (click)="changePassword()">
            Siguiente paso
        </button>
    </form>
</div>



<div class="wrapper-page-left" *ngIf="step == 5">
    <h2 class="title">
        ¡Perfecto!
        Tu contraseña fue actualizada y ahora puedes entrar sin problema a tu Portal Cliente
    </h2>
    <form>
        <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/auth/login">
            Entrar al Portal Cliente
        </button>
    </form>
</div>


<img src="/assets/images/shapes/pink_2.svg" alt="finexus" class="right-image">