// .wrapper-page-left{
//     padding-top: 115px;
//     max-width: 452px;
//     .title{
//         margin-bottom: 10px;
//     }
// }

.finexus-btn{
    display: inline;
    margin-top: 50px;
    width:300px;
    max-width: 100%;
}

.right-image{
    top: 0;
    transform: translateY(-100px) translateX(40%);
}

.recovery-methods{
    display:flex;
    margin-bottom: 10px;
    align-items: flex-end;

    input{
        margin-right: 10px;
    }

    p{
        margin-bottom: 0;
    }
}