<div class="wrapper-page-left">
    <h2 class="title">
        Hemos enviado el desprendible de<br> pago al correo que nos diste.
    </h2>

    <p style="margin-top: 20px;">
        Para que no te pierdas durante el proceso preparamos una guía paso a paso con los puntos que debes realizar para
        seguir el trámite.
    </p>


    <ul>
        <li>
            <img src="/assets/images/shapes/pink_3.png" alt="">
            <h3>
                Paso 1:
            </h3>

            <p>
                Descarga e imprime el desprendible para el pago del certificado que hemos enviado a tu correo.
            </p>
        </li>

        <li>
            <img src="/assets/images/shapes/pink_3.png" alt="">
            <h3>
                Paso 2:
            </h3>

            <p>
                Dirígete al banco BBVA más cercano y cancela el valor total del desprendible de pago, asegúrate de imprimir correctamente el documento.
            </p>
        </li>

        <li>
            <img src="/assets/images/shapes/pink_3.png" alt="">
            <h3>
                Paso 3:
            </h3>

            <p>
                Vuelve a entrar a tu Portal Cliente Finexus y busca la opción de  Solicitudes en Trámite.
            </p>
        </li>


        <li>
            <img src="/assets/images/shapes/pink_3.png" alt="">
            <h3>
                Paso 4:
            </h3>

            <p>
                Adjunta el documento pagado en el banco como imagen o .PDF  y continúa con la solicitud sin ningún problema.
            </p>
        </li>
    </ul>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/portal/home">
        He entendido el paso a paso
    </button>
</div>
<img src="/assets/images/shapes/pink_4.png" class="peca-rosa">