<div class="wrapper-page-left">
    <img src="/assets/images/shapes/error_ado.png" alt="">
    <br>
    <br>
    <h2 class="title">
        Lo sentimos,<br>
Parece que no eres tú<br> la persona que reconocimos.
    </h2>

    <p style="margin-top: 20px;">
        Recuerda que necesitamos confirmar tu identidad para mayor seguridad. <br>
        <br>
        <br>

        Sólo puedes intentar máximo 2 veces cada 24 horas.
    </p>
    <br>
    <br>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/auth/register">
        Intentar validación nuevamente
    </button>
</div>

<img src="/assets/images/shapes/peca_roja.png" class="peca_error_or_ok">