.header-main {
    background: rgba(238, 238, 231, 0.96);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }