<div class="wrapper-page-left">
    <img src="/assets/images/shapes/ok_check.png" alt="">
    <br>
    <br>
    <h2 class="title">
        ¡Perfecto! <br>
        Hemos recibido tu solicitud, <br>
        En caso que aplique la solicitud, en 5 días hábiles realizaremos transferencia a tu cuenta bancaria.
    </h2>

    <p style="margin-top: 20px;">
        Recuerda revisar tu cuenta bancaria constantemente para saber cuando te llegue el dinero.
    </p>
    <br>
    <br>

    <button class="finexus-btn btn-simulate-credit principal-buttons" routerLink="/portal/home">
        Terminar con éxito tu solicitud
    </button>
</div>

<img src="/assets/images/shapes/success_ado.png" class="peca_error_or_ok">